
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #19efdd;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
display: block;
width: 200px;
margin: 20px auto;
padding: 15px 30px;
text-align: center;
text-decoration: none;
background-color: rgb(1, 6, 8);
color: black;
border-radius: 10px;
transition: background-color 0.3s, transform 0.3s ease;
}

.btn:hover {
text-decoration: none;
background-color: #66b3ff;
transform: scale(1.05);
}

.container-loan {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.form-column {
   
        display: inline-block;
        width: 30%;
    vertical-align: top;
    padding-right: 20px;
}
.form-fieldset {
    background-color: #25a7e3da;
    border: 1px solid #25a7e3da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid  #19efdd;
    border-radius: 3px;
}
.form-group textarea {
    resize: vertical;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
  }
  
  .footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .footer li {
    float: left;
  }
  
  .footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
